/*Carousel*/
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.references__card{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    min-width: 100%;
}

.references__title{
    position: absolute;
    top:10%;
}

.references__btn{
    position: absolute;
    top:80%;
}

.swiper-button-next{
    color: #FF4A3C;
}

.swiper-button-prev{
    color: #FF4A3C;
}

/* Dernières Actus */
.actus{
    overflow: hidden;
    position: relative;
}
.actus__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.actus__card{
    height: 400px;
    line-height: 300px;
    width: 300px;
}

.actus__button{
    position: absolute;
    top: 200px !important;
}