/* GENERAL */
.content{
    margin: 40px 150px;
}



/* HERO */
.hero{
    background-image: url("../assets/valeurs/hero.png"); 
    /* TODO: changer l'image (pas assez quali) */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    overflow: hidden;
}

/* ENGAGEMENT */
.engagement .content{
    display: flex;
    justify-content: space-between;
}

.engagement__text{
    width: 50%;
}
.engagement__image{
    width: 35%;
}
.engagement__image img{
    width: 100%;
    border-radius: 10px;
}

.engagement__title--red{
    top: 55px;
    left: -65px;
}

.engagement__title{
    margin-bottom: 90px;
}


/* VALEURS */

.valeurs__title--red{
    top: 55px;
    left: -35px;
}

.valeurs__title{
    margin-bottom: 90px;
}

.valeurs .container{
    display: flex;
    justify-content: space-between;
}

.valeurs__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.valeurs__text{
    text-align: justify;
    width: 100%;
}

/* TEMOIGNAGES */
.temoignages__pp{
    width: 40px;
}

.temoignages__title--red{
    top: 55px;
    left: -155px;
}

.temoignages__title{
    margin-bottom: 90px;
}

.temoignages{
    display: none;
}
/* swiper */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 30%; */
  }

  .swiper-slide img {
    /* display: block; */
    width: 50%;
    height: 50%;
    object-fit: cover;
  }



/* FOOTER */
footer{
    margin-top: 0;
}


/* RESPONSIVE */

/* TELEPHONE */

@media (max-width: 500px){
    .content{
        margin: 20px 0px;
    }

    /* HERO */
    .hero{
        width: 100vw;
        height: 30vh;
    }

    .hero h1{
        font-size: 2rem;
    }

    /* ENGAGEMENT */
    .engagement{
        width: 100vh;
    }

    .engagement__content{
        padding: 0px 20px;
        width: 90vw;
        flex-direction: column;
        gap: 40px;
    }

    .engagement__image{
        width: 100%;
        order: 2;
    }

    .engagement__image img{
        height: 300px;
        object-fit: cover;
    }

    .engagement__text{
        order: 1;
        width: 100%;
    }

    .engagement__title{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .engagement__title--red{
        font-size: 2.6rem;
        top: -15px;
        left: 45px;
    }

    .engagement__text p{
        font-size: 1.2rem;
        text-align: justify;
    }

    /* VALEURS */
    .valeurs{
        width: 100vh;
    }

    .valeurs__content{
        padding: 0px 20px;
        width: 90vw;
        flex-direction: column;
        gap: 40px;
    }

    .valeurs .container{
        flex-direction: column;
    }
    .valeurs__title{
        font-size: 2rem;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .valeurs__title--red{
        font-size: 2.6rem;
        top: 35px;
        left: -40px;
    }

    .valeurs__item{
        width: 100%;
        margin-top: 40px;
    }

    .valeurs__text{
        font-size: 1.2rem;
        text-align: center;
    }

    .valeurs__item img{
        width: 200px;
    }

}